/* BUTTON */
button {
    font-size: 2vmax;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
    animation: shaking 2s infinite;
}

@keyframes shaking {
    10% {
        transform: scale(1.05) rotate(5deg);
    }

    20% {
        transform: scale(1.05) rotate(-5deg);
    }

    30% {
        transform: scale(1.05) rotate(5deg);
    }

    40% {
        transform: none;
    }
}

button:hover {
    background-color: #6521a5;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

.color-acento {
    color: blueviolet;
}

header {
    background-color: whitesmoke;
}

/* NAVBAR CSS */
.navbar-brand {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

ul {
    padding: 8px 14px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* HERO (PRIMERA IMAGEN) */
#hero {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

/* CONTENEDOR SOMOS-COTI */
#somos-coti .container {
    text-align: center;
    padding: 200px 12px;
}

#somos-coti .container {
    display: flex;
}

#somos-coti .texto {
    width: 100%;
}

#somos-coti .img-container {
    background-image: url("media/somos-coti.jpg");
}

/* NUESTROS-COMBOS CONTAINER */
#nuestros-combos {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

#nuestros-combos .container {
    padding: 150px 12px;
}

#nuestros-combos h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-combos .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/combo-luminoso.jpeg");
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/cotillon-super-fluo.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/combo-economico.jpg");
}

/* CSS CONTACTO */

.titulo {
    font-weight: bold;
    color: blueviolet;
    margin: 16px 0px;
    text-align: center;
    padding: 75px;
}

form {
    padding: 50px;
}

/* CSS FLETES */

section {
    font-weight: bold;
    color: blueviolet;
    margin: auto 0;
    padding: 50px;
    text-align: center;
}

.card {
    margin: auto auto;
    width: auto;

}

/* COMBOS */

.descripcion {
    padding: 25px;
}